body {
    font-family: Arial;
    background-color: #eeeeee;
    margin: 40px;
}

h5 {
    color: gray;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: #333333;
}

ul {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

li {
    margin: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}
